th {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    padding: 3px;
}

ul {
    list-style-type: none;
}

.required th {
    font-weight: bold;
}

th label {
    font-weight: bold;
}

td label {
    display: inline;
}
